.header-section {
  background: linear-gradient(#00000000, #00000045),
    url("/assets/about-us/riviera-hotel-building.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;

  .header-label h1 {
    font-size: 100px;
    color: #ffffff;
  }
}

.about-section {
  .about-title {
    text-align: center;
  }

  .about-title span {
    font-size: 20px;
  }

  .about-image {
    margin: 50px 0px;
    text-align: center;
    height: 300px;
    overflow: hidden;
  }

  .about-image img {
    width: 30%;
    height: 100%;
    object-fit: cover;
  }

  .about-article {
    text-align: justify;
  }

  .about-article p {
    text-align: justify;
  }
}

/* this is overview section */
.overview-section {
  position: relative;

  .content {
    position: relative;
  }

  .sub-label {
    text-align: center;
    margin-bottom: 50px;
  }

  /* this is overview block */
  .overview-block {
    margin-bottom: 20%;

    .overview-wrapper {
      display: flex;
      flex-direction: row;

      .video {
        background-color: goldenrod;
        padding: 20px;
      }

      .overview-video {
        width: 900px;
        height: 460px;
        overflow: hidden;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .overview-details {
        width: 400px;
        padding: 0px 50px;
      }
    }
  }

  /* this is article block */
  .article-block {
    margin-bottom: 20%;

    .article-box {
      background: goldenrod;
      width: 650px;
      height: 200px;
      position: absolute;
      top: 40%;
      left: 50%;
      z-index: -1;
    }

    .article-wrapper {
      display: flex;
      align-items: center;
      gap: 25px;

      .article-image {
        width: 900px;
        height: 400px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .article-details {
        width: 600px;
        padding: 10px 40px;

        h1 {
          margin-bottom: 60px;
          font-style: italic;
          font-weight: bold;
        }
      }
    }
  }

  /* this is blog block */
  .blog-block {
    .blog-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 25px;

      .blog {
        background-color: #000000;
        overflow-y: hidden;

        .blog-image {
          width: 400px;
          height: 300px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: filter 0.5s, transform 0.5s ease-out;
          }

          img:hover {
            transform: scale(1.2);
          }
        }

        .blog-details {
          padding: 30px;
          color: #ffffff;
        }
      }
    }
  }
}

/* this is feature section */
.feature-section {
  background: linear-gradient(#ffffff, #00000031, #ffffff),
    url("/assets/about-us/island.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .sub-label {
    color: #ffffff;

    h1 {
      font-style: italic;
    }
  }
}

/* this is corporate section */
.corporate-section {
  .sub-label {
    text-align: center;
    margin-bottom: 50px;

    span {
      font-size: 2rem;
    }
  }

  .corporate-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 25px;

    .corporate {
      background-color: #000000;
      overflow-y: hidden;

      .corporate-image {
        width: 400px;
        height: 400px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: filter 0.5s, transform 0.5s ease-out;
        }

        img:hover {
          transform: scale(1.2);
        }
      }

      .corporate-details {
        color: #ffffff;
        width: 400px;
        padding: 30px;
      }
    }
  }
}

/* this is footer section */
.footer-section {
  background-color: #000000;
  position: relative;

  .content {
    position: relative;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom .social-link-footer span a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
}
/* Tablet or Mobile screen */
@media screen and (max-width: 575px) {
  .header-section {
    overflow-y: hidden;
  }
  .about-section {
    overflow-x: hidden;
  }
  .dinning-event-section {
    overflow-x: hidden;
  }
  .service-section {
    overflow-x: hidden;
  }
  .content-section {
    overflow-x: hidden;
  }
  .header-btn {
    display: none;
  }
  .room-and-suite-section .carousel-item {
    height: 300px;
  }
  .room-and-suite-section .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
  }
  .img-logo-text {
    display: none;
  }
  .footer-bottom {
    display: grid;
    text-align: center;
  }
  .footer-bottom .social-link-footer span a {
    font-size: 12px;
    margin-top: 20px;
  }
  .offcanvas-body ul li a {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin: 10px;
  }
  .book-now a {
    display: none;
  }

  .about-section .about-details {
    margin-top: 50px;
  }
  .about-section .about-details p {
    text-align: justify;
  }
  .service-section .service-sub-text p {
    text-align: justify;
  }
  .dinning-event-section .dinning-sub-label {
    margin-top: 50px;
  }
  .dinning-event-section .event-sub-label {
    margin-top: 50px;
  }
  .content-section .content-sub-text p {
    text-align: justify;
  }
  .content-section .content-img .content-paragraph {
    padding: 20px;
  }
  .content-section .content-img .content-paragraph p {
    text-align: justify;
  }
  .content-section .content-img img {
    height: 400px;
  }
  .desktop-view {
    display: none;
  }

  .dinning-section {
    position: relative;

    .content {
      position: relative;
    }

    .dinning-warpper {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .meeting-event-section {
    position: relative;

    .content {
      position: relative;
    }

    .meeting-event-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
