.header-section {
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  text-align: center;

  .sub-label {
    color: #ffffff;
    h1 {
      font-size: 100px;
    }
  }
}

/* this is contact map section */
.contactMap-section {
  position: relative;
  .content {
    position: relative;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .image {
      width: 900px;
      height: 600px;
      overflow: hidden;
      a {
        cursor: grab;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .details {
      color: #000000;
      text-align: center;
      padding: 30px 60px;

      h1 {
        font-size: 30px;
        width: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      p {
        width: 500px;
      }

      .contact-form {
        form {
          .field-group {
            width: 400px;
            position: relative;
            padding: 10px;
            .input-field {
              width: 100%;
              outline: 0;
              border: 3px solid #000000;
              padding: 10px;
              background-color: transparent;
              font-size: 1rem;
              color: #000000;
              transition: 0.3s ease;
            }

            .input-field::placeholder {
              color: #000000;
            }

            .textarea-field {
              width: 100%;
              height: 20vh;
              outline: 0;
              border: 3px solid #000000;
              padding: 10px;
              background-color: transparent;
              font-size: 1rem;
              color: #000000;
              transition: 0.3s ease;
            }

            .textarea-field::placeholder {
              color: #000000;
            }
          }

          .contactForm-button {
            width: 100%;
            padding: 10px;
            background-color: #000000;

            a {
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .header-section {
    .sub-label {
      h1 {
        font-size: 50px;
      }
    }
  }

  .contactMap-section {
    .wrapper {
      display: flex;
      flex-direction: column;

      .image {
        width: 375px;
        height: 300px;
      }

      .details {
        width: 300px;
        h1 {
          font-size: 20px;
          width: 300px;
        }

        p {
          width: 300px;
        }

        .contact-form {
          form {
            .field-group {
              width: 320px;
            }
          }
        }
      }
    }
  }
}
