/* this is header section */
.header-section {
  background: linear-gradient(#00000025, #000000a6),
    url("/assets/dinning/dinning.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  display: flex;
  align-items: center;
  text-align: center;

  .sub-label {
    color: #ffffff;

    h1 {
      font-size: 100px;
    }
  }
}

/* this is restaurant table section */
.restaurant-section {
  margin-bottom: 15%;
  position: relative;

  .content {
    position: relative;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90px;

    .dining-services {
      position: relative;
      .restaurant-img {
        width: 400px;
        height: 600px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .bars-img {
        position: absolute;
        top: 80%;
        left: 90%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 600px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .description {
      width: 500px;

      h2 {
        font-size: 50px;
      }
      p {
        margin-block: 50px;
        line-height: 30px;
      }
    }
  }
}

/* this is article section */
.article-section {
  background-color: #000000;
  position: relative;

  .content {
    position: relative;
  }

  .sub-label {
    text-align: center;
    margin-bottom: 100px;
    color: #ffffff;

    span {
      font-size: 1.5rem;
    }

    h1 {
      margin-top: 20px;
      font-size: 40px;
      font-style: italic;
    }
  }

  .content-1 {
    margin-bottom: 70px;
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      .image {
        width: 600px;
        height: 400px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .details {
        color: #ffffff;
        width: 600px;

        h1 {
          font-style: italic;
        }
      }
    }
  }

  .content-2 {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      .image {
        width: 600px;
        height: 400px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .details {
        color: #ffffff;
        width: 600px;

        h1 {
          font-style: italic;
        }
      }
    }
  }

  .menu-btn {
    text-align: center;
    margin-top: 50px;
  }
}

/* this is cafe section */
.cafe-section {
  position: relative;

  .content {
    position: relative;
  }

  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .image {
      width: 600px;
      height: 400px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .description {
      width: 600px;
      h2 {
        font-size: 50px;
      }
      p {
        margin-block: 50px;
        line-height: 30px;
      }
    }
  }
}

/* this is room dinning section */
.roomDinning-section {
  background-color: #dcdcdc;
  position: relative;

  .content {
    position: relative;
  }

  .sub-label {
    text-align: center;

    span {
      font-size: 2rem;
    }

    h1 {
      font-size: 60px;
      color: #c4ab1e;
    }

    p {
      width: 600px;
    }
  }
}
@media screen and (max-width: 575px) {
  /* this is header section */
  .header-section {
    .sub-label {
      h1 {
        font-size: 50px;
      }
    }
  }

  /* this is restaurant table section */
  .restaurant-section {
    .wrapper {
      display: flex;
      flex-direction: column;

      .dining-services {
        position: relative;
        .restaurant-img {
          width: 320px;
          height: 320px;
        }
        .bars-img {
          display: none;
        }
      }

      .description {
        width: 320px;

        h2 {
          font-size: 25px;
        }
      }
    }
  }

  /* this is cafe-section */
  .cafe-section {
    margin-block: 50px;
    .wrapper {
      display: flex;
      flex-direction: column;

      .image {
        width: 320px;
      }
      .description {
        width: 320px;
      }
    }
  }
}
