.header-banner-section {
  background: linear-gradient(#00000025, #000000a6),
    url("/assets/dinning/dinning.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.second-img {
  height: 750px;
  overflow: hidden;
}
.second-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-bottom .social-link-footer span a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.offcanvas-body ul li a {
  color: white;
}
.dinner-banner {
  position: relative;

  .content {
    position: relative;
  }
  .banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}
.banner {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner::before {
  content: "";
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 80vh;
  position: absolute;
  display: block;
}
@media screen and (min-width: 1280px) {
  .btn-book-now {
    display: none;
  }
  .img-logo {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .offcanvas-body ul li a {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin: 10px;
  }
  .img-logo-text {
    display: none;
  }
  .footer-bottom {
    display: grid;
    text-align: center;
  }
  .footer-bottom .social-link-footer span a {
    font-size: 12px;
    margin-top: 20px;
  }
  .offcanvas-body ul li a {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin: 10px;
  }
  .book-now a {
    display: none;
  }
  .second-img {
    height: 500px;
    overflow: hidden;
  }
}
