/* this is header section */
.header-section {
  background: linear-gradient(#00000000, #000000c4),
    url("/assets/header-banner.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;

  .content {
    position: relative;
  }
  .header-label {
    color: #ffffff;
  }
  .header-label h1 {
    font-size: 48px;
  }
  .header-paragraph {
    color: #ffffff;
  }
  .header-btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    border: 2px solid #ffffff;
    padding: 10px 30px;
    background-color: transparent;
    display: inline-block;
    letter-spacing: 5px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: color 0.45s, box-shadow 0.45s ease-in-out;
  }
  .header-btn a:hover {
    color: #000000;
    box-shadow: inset 400px 0 0 0 #ffffff;
  }
}

/* this is about section */
.about-section {
  .about-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;

    .about-details {
      h1 {
        font-size: 48px;
        margin: 20px 0px;
      }
      span {
        font-size: 14px;
      }
      p {
        text-align: justify;
      }
    }
  }
}

/* this is accomodation feature */
.accomodation-section {
  background-color: #f5f5f5;
  .accomodation-title {
    text-align: center;
    margin-bottom: 50px;

    span {
      font-size: 2rem;
    }

    h1 {
      font-size: 50px;
      margin-top: 5px;
    }
  }
  .accomodation-paragraph {
    text-align: center;
    font-style: italic;

    p {
      margin-bottom: 30px;
    }
  }

  .accomodation-wrapper {
    display: flex;
    flex: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;

    .accomodation {
      background-color: #000000;
      overflow-y: hidden;

      .accomodation-img {
        width: 400px;
        height: 300px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: filter 0.5s, transform 0.5s ease-out;
        }

        img:hover {
          transform: scale(1.2);
        }
      }
    }

    .accomodation-details {
      padding: 30px;
      color: #ffffff;

      h1 {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }
}

/* this is dinning section */
.dinning-section {
  .dinning-title {
    text-align: center;
    margin-bottom: 50px;

    span {
      font-size: 2rem;
    }

    h1 {
      font-size: 50px;
      margin-top: 5px;
    }
  }

  .dinning-wrapper {
    display: flex;
    flex: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;

    .dinning {
      background-color: #000000;
      overflow-y: hidden;

      .dinning-image {
        width: 400px;
        height: 300px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .dinning-details {
        padding: 30px;
        color: #ffffff;

        h1 {
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}

/* this is spa and fitness section */
.spa-fitness-section {
  background: linear-gradient(#00000000, #000000c4),
    url("/assets/index/pool.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  background-position: center;
  align-items: center;
  text-align: center;

  .spa-fitness-title {
    color: #ffffff;
  }

  .spa-fitness-title span {
    font-size: 20px;
  }

  .spa-fitness-title h1 {
    font-size: 70px;
  }

  .spa-fitness-paragraph {
    color: #ffffff;
    font-style: italic;
  }
}

/* this is spa section */
.spa-section {
  .spa-image .img-1,
  .spa-image .img-2,
  .spa-image .img-3,
  .spa-image .img-4 {
    width: 300px;
    height: 300px;
  }

  .spa-image .img-1 img,
  .spa-image .img-2 img,
  .spa-image .img-3 img,
  .spa-image .img-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* this is fitness section */
.fitness-section {
  .fitness-image {
    width: 600px;
    height: 400px;
  }

  .fitness-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.collapse-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.text-container {
  flex: 1;
}

.icon-container {
  padding: 5px;
  cursor: pointer;
}

/* this is content section */
.content-section {
  background-color: #000000;
  position: relative;

  .content {
    position: relative;
  }

  .content-sub-text {
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }

  .content-img {
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .content-img img {
    width: 600px;
    height: 600px;
    object-fit: cover;
  }

  .content-img .content-paragraph {
    padding: 50px;
  }
}

/* this is meeting and event section */
.meeting-event-section {
  position: relative;

  .content {
    position: relative;
  }

  .meeting-event-title {
    text-align: center;
    font-size: 2rem;
  }

  .meeting-event-paragraph {
    text-align: center;
    font-style: italic;
  }

  .meeting-event-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 50px 0px;
  }
  .image1 {
    grid-area: 1 / 1 / 3 / 3;
    width: 632px;
    overflow: hidden;
  }
  .image2 {
    grid-area: 1 / 3 / 2 / 4;
    width: 300px;
    overflow: hidden;
  }
  .image3 {
    grid-area: 1 / 4 / 2 / 5;
    width: 300px;
    overflow: hidden;
  }
  .image4 {
    grid-area: 2 / 4 / 3 / 5;
    width: 300px;
    overflow: hidden;
  }
  .image5 {
    grid-area: 2 / 3 / 3 / 4;
    width: 300px;
    overflow: hidden;
  }
  .image1 img,
  .image2 img,
  .image3 img,
  .image4 img,
  .image5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .meeting-event-button {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
}

/* this is wedding and celebration section */
.wedding-celebration-section {
  background-color: #f5f5f5;

  .wedding-celebration-title {
    text-align: center;
    margin-bottom: 50px;

    span {
      font-size: 2rem;
    }

    h1 {
      font-size: 50px;
      margin-top: 5px;
    }
  }

  .wedding-celebration-wrapper {
    display: flex;
    flex: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  .wedding {
    background-color: #000000;
    .wedding-image {
      width: 400px;
      height: 300px;
      overflow: hidden;
    }

    .wedding-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .wedding-details {
      padding: 30px;
      color: #ffffff;
    }
  }

  .birthday {
    background-color: #000000;
    .birthday-image {
      width: 420px;
      height: 300px;
      overflow: hidden;
    }

    .birthday-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .birthday-details {
      color: #ffffff;
      padding: 30px;
    }
  }

  .graduation {
    background-color: #000000;
    .graduation-image {
      width: 420px;
      height: 300px;
      overflow: hidden;
    }

    .graduation-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .graduation-details {
      padding: 30px;
      color: #ffffff;
    }
  }
}

/* This is For Asking Question section */
.faq-section {
  .faq-title {
    text-align: center;
    font-size: 48px;
    margin: 50px 0px;
  }

  .faq-wrapper {
    .faq-question {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 20px;
        color: #000000;
      }
    }
    .faq-answer {
      padding: 0px 20px;
    }
  }
}

/* this is article section */
.article-section {
  background: linear-gradient(#00000000, #000000c4),
    url("/assets/index/life-is-like-a-journey.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;

  .content {
    position: relative;
  }

  .article-title {
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 20px;
  }

  .article-paragraph {
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
  }
}

/* this is footer section */
.footer-section {
  background-color: #000000;
  position: relative;

  .content {
    position: relative;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom .social-link-footer span a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
}
/* Desktop and laptop screen */
@media screen and (max-width: 1920px) {
  .accomodation-section {
    overflow-x: hidden;
  }
}

/* Tablet or Mobile screen */
@media screen and (max-width: 575px) {
  /* this is header section */
  .header-section {
    overflow-y: hidden;

    .header-btn {
      display: none;
    }
  }

  /* this is about section */
  .about-section {
    overflow-x: hidden;

    .about-wrapper {
      .about-details {
        margin-top: 50px;
        h1 {
          font-weight: bold;
          font-size: 28px;
          text-align: justify;
        }
      }
    }
  }

  /* this is accomodation section */
  .accomodation-section {
    overflow: hidden;

    .accomodation-title {
      margin-top: 50px;
      span {
        font-size: 12px;
        font-weight: bold;
      }
      h1 {
        font-size: 30px;
      }
    }
    .accomodation-wrapper {
      display: flex;
      flex-direction: column;

      .accomodation {
        .accomodation-img {
          width: 320px;
        }
      }
    }
  }

  /* this is dinning section */
  .dinning-section {
    overflow: hidden;

    .dinning-title {
      margin-top: 50px;
      span {
        font-size: 12px;
        font-weight: bold;
      }
      h1 {
        font-size: 30px;
      }
    }

    .dinning-wrapper {
      display: flex;
      flex-direction: column;

      .dinning {
        .dinning-image {
          width: 320px;
        }
      }
    }
  }

  /* this is spa section */
  .spa-section {
    .spa-image .img-1,
    .spa-image .img-2,
    .spa-image .img-3,
    .spa-image .img-4 {
      width: 350px;
    }
  }

  /* this is fitness section */
  .fitness-section {
    .fitness-image {
      width: 320px;
      height: 200px;
    }
  }

  /* this is content section */
  .content-section {
    overflow-x: hidden;

    .content-sub-text p {
      text-align: justify;
    }

    .content-img img {
      height: 400px;
    }

    .content-paragraph {
      padding: 20px;
    }

    .content-paragraph p {
      text-align: justify;
    }
  }

  /* this is meeting and event */
  .meeting-event-section {
    overflow: hidden;

    .meeting-event-title {
      margin-top: 50px;
      span {
        font-size: 12px;
        font-weight: bold;
      }
      h1 {
        font-size: 30px;
      }
    }

    .meeting-event-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }

  /* this is wedding and celebration */
  .wedding-celebration-section {
    overflow: hidden;
    .wedding-celebration-title {
      margin-top: 50px;

      span {
        font-size: 12px;
        font-weight: bold;
      }

      h1 {
        font-size: 30px;
      }
    }

    .wedding-celebration-wrapper {
      display: flex;
      flex-direction: column;

      .wedding {
        .wedding-image {
          width: 320px;
          height: 300px;
        }
      }

      .birthday {
        .birthday-image {
          width: 320px;
          height: 300px;
        }
      }

      .graduation {
        .graduation-image {
          width: 320px;
          height: 300px;
        }
      }
    }
  }

  /* this is faq section */
  .faq-section {
    .faq-title {
      font-size: 18px;
    }
  }

  /* this is article section */
  .article-section {
    .article-title {
      font-size: 18px;
    }
    .article-paragraph {
      font-size: 12px;
    }
  }

  /* this is footer section */
  .footer-section {
    .footer-bottom {
      display: grid;
      text-align: center;
    }

    .social-link-footer span a {
      font-size: 12px;
      margin-top: 20px;
    }
  }
}
