.header-section {
  background: linear-gradient(#00000025, #000000a6),
    url("/assets/event/weddingd.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  display: flex;
  align-items: center;
  text-align: center;

  .sub-label {
    color: #ffffff;

    h1 {
      font-size: 100px;
    }
  }
}

/* this is featureContent Section */
.featureContent-section {
  position: relative;

  .content {
    position: relative;
  }

  .sub-label {
    text-align: center;
    margin-bottom: 80px;

    span {
      font-style: normal;
    }

    h1 {
      font-style: italic;
    }
  }

  .feature-block {
    border: 10px solid #e5e5e5;
    margin: 0px 60px;
    height: 60vh;
    position: relative;

    .feature-wrapper {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-51%, -40%);

      .feature-image {
        width: 880px;
        height: 60vh;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .feature-details {
        padding: 0px 30px;
        width: 300px;

        h4 {
          font-style: italic;
          margin-bottom: 30px;
        }
      }
    }
  }
}

/* this is blockContent Section */
.blockContent-section {
  background-color: #e5e5e5;
  position: relative;
  margin-top: 100px;

  .content {
    position: relative;
  }

  .blockContent-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
    .blockContent {
      background-color: #ffffff;
      display: flex;
      align-items: center;

      .blockContent-image {
        width: 600px;
        height: 300px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .blockContent-details {
        width: 600px;
        margin: 50px;

        h1 {
          font-style: italic;
        }
      }
    }
  }
}

/* this is request proposal section */
.requestProposal-section {
  position: relative;

  .content {
    position: relative;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;

    .image {
      width: 900px;
      height: 460px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-form {
      padding: 30px 60px;
      width: 900px;

      .sub-label {
        margin-bottom: 30px;
        font-size: 2rem;

        span {
          border-bottom: 3px solid #000000;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  /* this is header section */
  .header-section {
    overflow: hidden;
    .sub-label {
      h1 {
        font-size: 25px;
      }
    }
  }

  /* this is feature content section */
  .featureContent-section {
    overflow: hidden;
    .sub-label {
      span {
        font-size: 1rem;
      }
      h1 {
        font-size: 30px;
      }
      p {
        text-align: justify;
      }
    }

    .feature-block {
      border: 0px;

      .feature-wrapper {
        display: flex;
        flex-direction: column;

        .feature-image {
          width: 320px;
          height: 300px;
        }

        .feature-details {
          width: 320px;
          padding: 30px 0px;

          p {
            text-align: justify;
          }
        }
      }
    }
  }

  /* this is block content section */
  .blockContent-section {
    overflow: hidden;
    .blockContent-wrapper {
      margin-top: 50px;
      margin-bottom: 50px;
      .blockContent {
        display: flex;
        flex-direction: column;

        .blockContent-image {
          width: 320px;
          height: 300px;
        }

        .blockContent-details {
          width: 300px;
          margin: 0px;
          padding: 10px 20px;
        }
      }
    }
  }

  /* this is request proposal section */
  .requestProposal-section {
    overflow: hidden;
    .wrapper {
      display: flex;
      flex-direction: column;

      .image {
        width: 375px;
        height: 300px;
      }

      .card-form {
        padding: 60px 30px;
        width: 350px;
      }
    }
  }
}
