.header-banner-section {
  background: linear-gradient(#00000025, #000000a6),
    url("/assets/event/weddingd.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;

  .header-title h1 {
    font-size: 100px;
    color: #ffffff;
  }
}

/* this is featureContent Section */
.featureContent-section {
  position: relative;

  .content {
    position: relative;
  }

  .sub-label {
    text-align: center;
    margin-bottom: 80px;

    span {
      font-style: normal;
    }

    h1 {
      font-style: italic;
    }
  }

  .feature-block {
    border: 10px solid #e5e5e5;
    margin: 0px 60px;
    height: 60vh;
    position: relative;

    .feature-wrapper {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-51%, -40%);

      .feature-image {
        width: 880px;
        height: 60vh;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .feature-details {
        padding: 0px 30px;
        width: 300px;

        h4 {
          font-style: italic;
          margin-bottom: 30px;
        }
      }
    }
  }
}

/* this is blockContent Section */
.blockContent-section {
  background-color: #e5e5e5;
  position: relative;
  margin-top: 100px;

  .content {
    position: relative;
  }

  .blockContent-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
    .blockContent {
      background-color: #ffffff;
      display: flex;
      align-items: center;

      .blockContent-image {
        width: 600px;
        height: 300px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .blockContent-details {
        width: 600px;
        margin: 50px;

        h1 {
          font-style: italic;
        }
      }
    }
  }
}

/* this is request proposal section */
.requestProposal-section {
  position: relative;

  .content {
    position: relative;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;

    .image {
      width: 900px;
      height: 460px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-form {
      padding: 30px 60px;
      width: 900px;

      .sub-label {
        margin-bottom: 30px;
        font-size: 2rem;

        span {
          border-bottom: 3px solid #000000;
        }
      }
    }
  }
}

/* this is footer section */
.footer-section {
  background-color: #000000;
  position: relative;

  .content {
    position: relative;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom .social-link-footer span a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
}
@media screen and (max-width: 575px) {
  .footer-bottom {
    display: grid;
    text-align: center;
  }
  .footer-bottom .social-link-footer span a {
    font-size: 12px;
    margin-top: 20px;
  }
}
